[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
numpy = "*"
scipy = ">=1.10"
pandas = "*"
torch = ">=2.1"
torchvision = "*"
torchaudio = "*"
nvidia-pytriton = "*"
lightning = "*"
torchmetrics = "*"
pydantic = ">=2.0"
pyyaml = "*"
tqdm = "*"
neurobooth-analysis-tools = {path = "/dep/neurobooth-analysis-tools", editable = true}
mvmt-disord-gaze-analysis = {path = "/dep/gaze_analysis", editable = true}
pytriton-inference-server = {path = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.10"
